In [1]:
import pandas as pd
import numpy as np

In [2]:
submissions = [15, 17, 18, 20, 21]
n_subs = len(submissions)

In [3]:
df_sub = None
for sub in submissions:
    temp = pd.read_csv(f"data/submission_{sub}.csv")
    if df_sub is None:
        df_sub = temp
        df_sub["SalePrice"] = df_sub["SalePrice"] / n_subs
    else:
        df_sub["SalePrice"] = df_sub["SalePrice"] + temp["SalePrice"] / n_subs

In [4]:
df_sub

        id      SalePrice
0     1461  123139.528739
1     1462  159559.954262
2     1463  192100.762000
3     1464  191963.710391
4     1465  182504.371137
...    ...            ...
1454  2915   84294.087004
1455  2916   80793.951535
1456  2917  162608.597703
1457  2918  114120.954629
1458  2919  207438.171218

[1459 rows x 2 columns]

In [5]:
sub_name = "data/ensemble.csv"
df_sub.to_csv(sub_name, index=False)